body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.announcement-bar {
  background-color: #ffebee;
  color: #e57373;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.hero-section {
  background-color: #e0f2f1;
  padding: 60px 0;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.img-fluid{
  border-radius:2rem;

}

.hero-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  font-weight: 900;
}

@media (max-width: 768px) {
  .hero-section {
      text-align: center;
  }
}